#chat-screen {
  background-color: rgb(167, 182, 197);
  height: 1000vh;
}
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 38px;
}
#chat-screen .alt-header {
  background-color: #4996c5;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.4s linear;
}
.chat__timestamp {
  color: white;
  background-color: gray;
  padding: 8px 15px;
  border-radius: 17px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 26%;
  margin-right: 10px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__author {
  font-weight: 600;
  display: flex;
  margin-bottom: 12px;
}
.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 10px;
}
.message__time {
  margin-left: 6px;
  opacity: 0.7;
  font-size: 13px;
}
.message-row-own {
  justify-content: flex-end;
}
.message-row-own .message__bubble {
  background-color: yellow;
  border-top-right-radius: 0px;
  margin-left: 5px;
  border-top-left-radius: 15px;
}
.message-row-own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  box-sizing: border-box;
}

.reply:focus-within .fa-grin-tongue,
.reply:focus-within button,
.reply:focus-within .reply__column:first-child {
  opacity: 0;
}
.reply:focus-within input {
  width: 96vw;
  transform: translateX(-11%);
}
.reply i {
  opacity: 0.6;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 8px;
  border: var(--main-border);
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply button {
  position: absolute;
  right: -3px;
  top: 2px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button i {
  opacity: 1;
}
.reply .fa-grin-tongue,
.reply button,
.reply .reply__column:first-child {
  transition: opacity 0.3 s ease-in-out;
}
