.alt-header {
  display: flex;
  padding: 10px 35px;
  align-items: center;
  justify-content: center;
}
.alt-header__title {
  font-size: 32px;
  font-weight: 600;
}
.alt-header__column {
  width: 33%;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting__column i {
  margin-right: 25px;
}
.settings__setting__column_last {
  opacity: 0.5;
}
.alt-header__column span:last-child {
  margin-left: 25px;
}
