.badge {
  background-color: rgb(255, 79, 79);
  width: 20px;
  height: 20px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  right: 19px;
  bottom: 21px;
}
.point {
  background-color: rgb(255, 79, 79);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: relative;
  color: white;
  top: -27.5px;
  right: -130px;
}
