.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-title__icons span {
  margin-left: 40px;
}
